[submodule "docs/From-Sparse-Records-to-Spatial-Insights-Clustering-and-GIS-Techniques-in-Glacial-Erratic-Analysis"]
	path = docs/From-Sparse-Records-to-Spatial-Insights-Clustering-and-GIS-Techniques-in-Glacial-Erratic-Analysis
	url = https://github.com/echandler5956f/From-Sparse-Records-to-Spatial-Insights-Clustering-and-GIS-Techniques-in-Glacial-Erratic-Analysis.git
