**/node_modules
.cursorrules
.cursor
**/__pycache__
**/*.pyc
**/~
**/cache
**/*.pdf
**/*.dbf
**/*.prj
**/*.shx
**/*.sbx
**/*.shp
**/*.cpg
**/*.sbn
**/*.geojson
**/*.xml
**/*.zip
**/*.json
**/*.bin
**/*.leg
**/*.tfw
**/*.tif
**/*.env

# Python NLTK data local cache
backend/src/scripts/python/nltk_data_local/